body {
    background-image: url(./backgroud.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

#newGameButton {
    background-color: #118204;
    color: #ffffff; 
    font-size: 16px;
    border: 1; 
    padding: 10px 150px; 
    cursor: pointer; 
    position: absolute; 
    top: 380px; 
    right: 570px; 
    border-radius: 5px; 
}
    
